name: "servarr"

services:
  prowlarr:
    image: lscr.io/linuxserver/prowlarr:${PROWLARR_TAG:-latest}
    logging:
      driver: ${LOGGING_DRIVER:-local}
    container_name: prowlarr
    environment:
      - PUID=${PUID}
      - PGID=${PGID}
      - TZ=${TZ}
    volumes:
      - ${CONFIG_DIR}/prowlarr:/config
      - /etc/localtime:/etc/localtime:ro
    labels:
      - homepage.group=Media Tools
      - homepage.name=Prowlarr
      - homepage.icon=prowlarr.svg
      - homepage.href=https://prowlarr.home.${DOMAIN}
      - homepage.description=Indexer
      - homepage.widget.type=prowlarr
      - homepage.widget.url=http://prowlarr.home.${DOMAIN}
      - homepage.widget.key=${PROWLARR_API_AUTH_TOKEN}
    ports:
      - ${PORT_PROWLARR_HTTP}:9696
    restart: unless-stopped
  seerr:
    image: ghcr.io/fallenbagel/jellyseerr:${SEERR_TAG:-latest}
    logging:
      driver: ${LOGGING_DRIVER:-local}
    init: true
    container_name: jellyseerr
    volumes:
      - ${CONFIG_DIR}/seerr:/app/config
      - /etc/localtime:/etc/localtime:ro
    labels:
      - homepage.group=Media Tools
      - homepage.name=Seerr
      - homepage.icon=jellyseerr.svg
      - homepage.href=https://seerr.home.${DOMAIN}
      - homepage.description=Request Management
      - homepage.widget.type=seerr
      - homepage.widget.url=http://seerr.home.${DOMAIN}
      - homepage.widget.key=${PLEX_AUTH_TOKEN}
    environment:
      - TZ=${TZ}
      - PORT=${PORT_SEERR_HTTP}
    ports:
      - ${PORT_SEERR_HTTP}:5055
    healthcheck:
      test: wget --no-verbose --tries=1 --spider http://localhost:5055/api/v1/status || exit 1
      start_period: 20s
      timeout: 3s
      interval: 15s
      retries: 3
    restart: unless-stopped
  qbittorrent:
    image: lscr.io/linuxserver/qbittorrent:${QBITTORRENT_TAG:-latest}
    logging:
      driver: ${LOGGING_DRIVER:-local}
    container_name: qbittorrent
    volumes:
      - ${CONFIG_DIR}/qbittorrent:/config
      - type: volume
        source: media
        target: /data/downloads
        volume:
          subpath: downloads
      - /etc/localtime:/etc/localtime:ro
    labels:
      - homepage.group=File Management
      - homepage.name=qBittorrent
      - homepage.icon=qbittorrent.svg
      - homepage.href=https://qbittorrent.home.${DOMAIN}
      - homepage.widget.type=qbittorrent
      - homepage.widget.url=http://qbittorrent.home.${DOMAIN}
      - homepage.widget.enableLeechProgress=true
    environment:
      - PUID=${PUID}
      - PGID=${PGID}
      - TZ=${TZ}
      - WEBUI_PORT=${PORT_QBITTORRENT_HTTP}
      - TORRENTING_PORT=${PORT_QBITTORRENT_TORRENTING}
    ports:
      - ${PORT_QBITTORRENT_HTTP}:${PORT_QBITTORRENT_HTTP} # Due to issues with CSRF both sides needs to be changed
      - ${PORT_QBITTORRENT_TORRENTING}:6881
      - ${PORT_QBITTORRENT_TORRENTING}:6881/udp
    restart: unless-stopped
  radarr:
    image: lscr.io/linuxserver/radarr:${RADARR_TAG:-latest}
    logging:
      driver: ${LOGGING_DRIVER:-local}
    container_name: radarr
    volumes:
      - ${CONFIG_DIR}/radarr:/config
      - media:/data
      - /etc/localtime:/etc/localtime:ro
    labels:
      - homepage.group=Media Tools
      - homepage.name=Radarr
      - homepage.icon=radarr.svg
      - homepage.href=https://radarr.home.${DOMAIN}
      - homepage.description=Movie Requests
      - homepage.widget.type=radarr
      - homepage.widget.url=http://radarr.home.${DOMAIN}
      - homepage.widget.key=${RADARR_API_AUTH_TOKEN}
    environment:
      - PUID=${PUID}
      - PGID=${PGID}
      - TZ=${TZ}
    ports:
      - ${PORT_RADARR_HTTP}:7878
    restart: unless-stopped
  sonarr:
    image: lscr.io/linuxserver/sonarr:${SONARR_TAG:-latest}
    logging:
      driver: ${LOGGING_DRIVER:-local}
    container_name: sonarr
    volumes:
      - ${CONFIG_DIR}/sonarr:/config
      - media:/data
      - /etc/localtime:/etc/localtime:ro
    labels:
      - homepage.group=Media Tools
      - homepage.name=Sonarr
      - homepage.icon=sonarr.svg
      - homepage.href=https://sonarr.home.${DOMAIN}
      - homepage.description=TV Show Requests
      - homepage.widget.type=sonarr
      - homepage.widget.url=http://sonarr.home.${DOMAIN}
      - homepage.widget.key=${SONARR_API_AUTH_TOKEN}
    environment:
      - PUID=${PUID}
      - PGID=${PGID}
      - TZ=${TZ}
    ports:
      - ${PORT_SONARR_HTTP}:8989
    restart: unless-stopped

volumes:
  media:
    driver: local
    driver_opts:
      type: nfs
      o: addr=${NAS_IP},rw,vers=4.1
      device: ":/mnt/blackbox/media"