[[stack]]
name = "caddy-vps"
tags = ["proxy", "reverse-proxy", "vps", "caddy"]

[stack.config]
server = "homelab-vps"
poll_for_updates = true
auto_update = true
destroy_before_deploy = false
git_account = "brumi1024"
repo = "brumi1024/komodo-app-stacks"
branch = "main"
reclone = false
run_directory = "services/caddy"
file_paths = [
    "docker-compose.yaml",
    "vps/docker-compose.yaml",
]
config_files = [
  { path = "vps/config/Caddyfile", requires = "Redeploy" }
]
environment = """
# Caddy instance identifier for data/config directories
CADDY_INSTANCE=vps

# Caddy version for build
CADDY_VERSION=[[CADDY_VERSION]]

# Configuration directory
CONFIG_DIR=[[CONFIG_DIR]]

# Logging configuration
LOGGING_DRIVER=[[LOGGING_DRIVER]]

# Network configuration
DOMAIN=[[OP__KOMODO__COMMON__DOMAIN]]
ADMIN_DOMAIN=[[OP__KOMODO__COMMON__ADMIN_DOMAIN]]
TAILNET=[[OP__KOMODO__COMMON__TAILNET]]

# Port configuration
PORT_AUTHENTIK_HTTP=[[PORT_AUTHENTIK_HTTP]]
PORT_CADDY_HTTP=[[PORT_CADDY_HTTP]]
PORT_CADDY_HTTPS=[[PORT_CADDY_HTTPS]]
PORT_CADDY_ADMIN=[[PORT_CADDY_ADMIN]]
PORT_PROXMOX_HTTPS=[[PORT_PROXMOX_HTTPS]]
PORT_PBS_HTTPS=[[PORT_PBS_HTTPS]]
PORT_AUTHENTIK_HTTP=[[PORT_AUTHENTIK_HTTP]]
PORT_AUTHENTIK_HTTPS=[[PORT_AUTHENTIK_HTTPS]]
PORT_ACTUAL_HTTP=[[PORT_ACTUAL_HTTP]]
PORT_DASH_HTTP=[[PORT_DASH_HTTP]]
PORT_BESZEL_HTTP=[[PORT_BESZEL_HTTP]]
PORT_HOMEASSISTANT_HTTP=[[PORT_HOMEASSISTANT_HTTP]]
PORT_SCRYPTED_HTTPS=[[PORT_SCRYPTED_HTTPS]]
PORT_IMMICH_HTTP=[[PORT_IMMICH_HTTP]]
PORT_PAPERLESS_HTTP=[[PORT_PAPERLESS_HTTP]]
PORT_PROWLARR_HTTP=[[PORT_PROWLARR_HTTP]]
PORT_SEERR_HTTP=[[PORT_SEERR_HTTP]]
PORT_QBITTORRENT_HTTP=[[PORT_QBITTORRENT_HTTP]]
PORT_RADARR_HTTP=[[PORT_RADARR_HTTP]]
PORT_SONARR_HTTP=[[PORT_SONARR_HTTP]]
PORT_STIRLING_HTTP=[[PORT_STIRLING_HTTP]]
PORT_TAUTULLI_HTTP=[[PORT_TAUTULLI_HTTP]]
PORT_PLEX_HTTP=[[PORT_PLEX_HTTP]]
PORT_UPTIME_KUMA=[[PORT_UPTIME_KUMA]]
PORT_ZEPHYRUS_HTTP=[[PORT_ZEPHYRUS_HTTP]]
PORT_ZIGBEE2MQTT=[[PORT_ZIGBEE2MQTT]]

# Cloudflare API token for DNS challenges
CF_API_TOKEN=[[OP__KOMODO__CADDY__CF_API_TOKEN]]
"""